section.content
  .row
    .large-6.large-centered.columns.placeName
      h1
        City State placeholder
    .large-12.columns
      .small-12.large-2.large-offset-1.columns.panel
        ul.dayInfo
          li.dayName.
            Day of Week
          li.dayImg.
            Image image
          li.dayHi.
            Hi
          li.dayLo.
            Low
      .small-12.large-2.columns.panel
        ul.dayInfo
          li.dayName.
            Day of Week
          li.dayImg.
            Image
          li.dayHi.
            Hi
          li.dayLo.
            Low
      .small-12.large-2.columns.panel
        ul.dayInfo
          li.dayName.
            Day of Week
          li.dayImg.
            Image
          li.dayHi.
            Hi
          li.dayLo.
            Low
      .small-12.large-2.columns.panel
        ul.dayInfo
          li.dayName.
            Day of Week
          li.dayImg.
            Image
          li.dayHi.
            Hi
          li.dayLo.
            Low
      .small-12.large-2.large-pull-1.columns.panel
        ul.dayInfo
          li.dayName.
            Day of Week
          li.dayImg.
            Image
          li.dayHi.
            Hi
          li.dayLo.
            Low
